{% extends "base.html" %}

{% block title %}Kevin Site {% endblock %}

{% block page_content %}

  <h1>Welcome to Kevin's Website!</h1>
  <h2>Foobar Spam</h2>
  <p>Eggs</p>
  <p>Bacon </p>
  <p>Sausage</p>
  <p>Cheese</p>
  <h2>Reporting Goals:</h2>
  <p>See more in "About" section!</p>
  <h2>Framework</h2>
  <p>
    This website has been built on the Flask web framework.
    This is a Python package designed for fast simple implementation of websites.
    It is used by companies like Pinterest (API) and LinkedIn.
    Its lightweight design allows for a great breadth of developer optionality and does not require developers use a narrow predefined framework.
  </p>
{% endblock %}
